@font-face {
    font-family: SpecialGothic;
    src: url('../fonts/SpecialGothic-Regular.ttf');
}

@font-face {
    font-family: SpecialGothic-Expanded;
    src: url('../fonts/SpecialGothicExpandedOne-Regular.ttf');
}

html {
    background-color: black;
    color: white;
    background-image: linear-gradient(rgba(67, 6, 18, 0.9), rgba(0, 0, 0, 0.9) 80%), url(http://www.transparenttextures.com/patterns/textured-paper.png);
}

hr {
    background: linear-gradient(to right, rgba(0, 0, 255, 0) 0%, #982a2a 50%, rgba(0, 0, 255, 0) 100%);
    height: 5px;
    border: 0;
    /* position: relative; */
    /* top: -15px; */
    z-index: -99;
    width: 100%;
}

h1,
h2 {
    font-family: SpecialGothic-Expanded;
    margin: 0;
}

h1 {
    font-size: 80pt;
}

h2 {
    font-size: 40pt;
    border-top: 1.5px solid rgba(255, 0, 30, 0.284);
    border-bottom: 2px solid rgba(255, 0, 0, 0.462);
    text-indent: 5vw;
}

h4,
p {
    font-family: SpecialGothic;
}

h4 {
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}